@model IEnumerable<web_app.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}
<h1>Product</h1>

<div class="row">
    <div class="col-6">
        @await Html.PartialAsync("_Create", new web_app.ViewModels.ProductViewModel())
    </div>

    <div class="col-6">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BarcodeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model is not null)
            {
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BarcodeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Guid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Guid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Guid">Delete</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
    
    </div>
</div>

